.software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
}
.software img {
  cursor: pointer;
}
.software .text-container {
  width: 44%;
}
.software .text-container .text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.software .text-container .text-item h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-transform: capitalize;
  color: #1B2534;
}
.software .text-container .text-item h1 b {
  color: #29A0F5;
}
.software .text-container .text-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B2534;
}
.software .text-container .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.software .text-container .items .item .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 25px;
}
.software .software-background {
  width: auto;
  cursor: pointer;
}

/** Media Rules **/
@media (max-width: 1293px) {
  .software .text-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 518px) {
  .software .text-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .software .text-container .text-item h1 {
    font-size: 35px;
    line-height: 12.078125vw;
  }
  .software .text-container .text-item p {
    font-size: 15px;
    line-height: 5.078125vw;
  }
  .software .text-container .items .item .item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .software .text-container .items .item .item-inner img {
    height: 60px;
  }
}